.content {
  padding: 25px;
}

.todo-text {
  font-size: 16px;
  margin-right: 5px;
  margin-top: 4px;
}

.todo {
  display: flex;
}

.btn-danger {
  height: 33px;
  width: 33px;
  font-size: 12px;
}

.form {
  margin-bottom: 10px;
}
li.remove{
	width: 50px;
	height: 50px;
    background: red;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 30px;
    

}li.lista{
	font-size: 30px;
	width: 200px;
}